.day1 {
  display: none;
}

.day2 {
  display: none;
}

.day3 {
  display: block;
}

.day4 {
  display: block;
}

.day5 {
  display: none;
}

.day1 .l1, .day1 .l2 {
  display: inline-block;
}

.day2 .l1, .day2 .l2 {
  display: inline-block;
}

.day3 .l1, .day3 .l2 {
  display: inline-block;
}

.day4 .l1, .day4 .l2 {
  display: inline-block;
}

.day5 .l1, .day5 .l2 {
  display: inline-block;
}